Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Auto Deploy iOS to Internal TestFlight:
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    ios_signing:
      provisioning_profiles:
      - codemagic_v4
      - codemagic_watchos_v4
      certificates:
      - codemagic_v4
    groups:
    - app_env
    - firebase
    - shorebird
    vars:
  ...

Auto Deploy Android to Internal Play Store:
  instance_type: mac_mini_m2
  max_build_duration: 120
  environment:
    android_signing:
    - prod_android_upload_keystore
    groups:
    - app_env
    - firebase
    - google_play
    - shorebird
    vars:
      PACKAGE_NAME: com.friend.ios
      JAVA_TOOL_OPTIONS: -Xmx8g
    flutter: 3.35.3
    xcode: 16.4
  ...

Release macOS Desktop Update (DMG):
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    groups:
    - app_env
    - firebase
    - appstore_credentials
    vars:
      PLATFORM: macos
      BUNDLE_ID: com.friend-app-with-wearable.ios12
    flutter: 3.35.3
    xcode: 26.0.1
  ...

feat(app): add swipe-right-to-indent for tasks on mobile
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: enable swipe-right-to-indent for tasks at indent level 0 on iOS
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: make swipe-to-indent tasks work on iOS matching macOS behavior
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): add swipe-right indent for tasks
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

chore: add Semantics labels and improve CPU profiling scripts
  app/lib/pages/conversations/widgets/processing_capture.dart
  app/scripts/measure_cpu_android.sh
  app/scripts/profile_flutter_android.sh
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(app): unify task goals and chat nav
  app/lib/backend/preferences.dart
  app/lib/pages/action_items/action_items_page.dart
  app/lib/pages/chat/page.dart
  app/lib/pages/home/page.dart
  app/lib/widgets/bottom_nav_bar.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(app): show goals on tasks and unify bottom nav (#4475)
  app/lib/backend/preferences.dart
  app/lib/pages/action_items/action_items_page.dart
  app/lib/pages/chat/page.dart
  app/lib/pages/home/page.dart
  app/lib/widgets/bottom_nav_bar.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix
  app/lib/pages/onboarding/speech_profile_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add manifest refresh with 2h TTL caching
  app/lib/backend/http/api/apps.dart
  app/lib/pages/apps/providers/add_app_provider.dart
  app/lib/pages/apps/update_app.dart
  backend/routers/apps.py
  backend/utils/apps.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Fix goal text truncation in tasks page
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Fix goal text truncation in tasks page (#4477)
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

chore: remove Semantics labels added for CPU profiling
  app/lib/pages/conversations/widgets/processing_capture.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: add shimmer timeout to prevent battery drain
  app/lib/desktop/pages/apps/desktop_add_app_page.dart
  app/lib/desktop/pages/apps/widgets/desktop_app_detail.dart
  app/lib/desktop/pages/chat/desktop_chat_page.dart
  app/lib/desktop/pages/chat/widgets/desktop_voice_recorder_widget.dart
  app/lib/pages/action_items/widgets/action_item_shimmer_widget.dart
  app/lib/pages/announcements/changelog_sheet.dart
  app/lib/pages/apps/add_app.dart
  app/lib/pages/apps/app_detail/app_detail.dart
  app/lib/pages/apps/explore_install_page.dart
  app/lib/pages/apps/list_item.dart
  app/lib/pages/apps/update_app.dart
  app/lib/pages/apps/widgets/capability_apps_page.dart
  app/lib/pages/apps/widgets/popular_apps_section.dart
  app/lib/pages/chat/widgets/ai_message.dart
  app/lib/pages/chat/widgets/voice_recorder_widget.dart
  app/lib/pages/conversation_detail/widgets/summarized_apps_sheet.dart
  app/lib/pages/conversations/conversations_page.dart
  app/lib/pages/conversations/widgets/daily_summaries_list.dart
  app/lib/pages/memories/page.dart
  app/lib/pages/settings/ai_app_generator_page.dart
  app/lib/pages/settings/import_history_page.dart
  app/lib/pages/settings/integrations_page.dart
  app/lib/pages/settings/task_integrations_page.dart
  app/lib/pages/settings/widgets/plans_sheet.dart
  app/lib/widgets/shimmer_with_timeout.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

save file name as timestamp
  omi/firmware/omi/src/lib/core/sd_card.h
  omi/firmware/omi/src/lib/core/storage.c
  omi/firmware/omi/src/sd_card.c
Due: none

test: cover photo events and shimmer timeout
  app/test/providers/capture_provider_test.dart
  app/test/widgets/shimmer_with_timeout_test.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

file name correction after syncing timestamp
  omi/firmware/omi/src/lib/core/sd_card.h
  omi/firmware/omi/src/lib/core/storage.c
  omi/firmware/omi/src/rtc.c
  omi/firmware/omi/src/sd_card.c
Due: none

docs: add OmiGlass section to sidebar
  docs/docs.json
Due: none

docs: rename omiGlass page to Hardware & Assembly
  docs/doc/hardware/omiGlass.mdx
Due: none

docs: add OmiGlass firmware flashing guide
  docs/doc/hardware/omiglass/flash-firmware.mdx
Due: none

docs: add OmiGlass monitoring and testing guide
  docs/doc/hardware/omiglass/monitoring.mdx
Due: none

firmware: release OmiGlass v2.3.2
  omiGlass/firmware/src/config.h
  omiGlass/firmware/v2.3.2/README.md
  omiGlass/firmware/v2.3.2/omiglass_firmware_v2.3.2.bin
Due: none

add timestamp to storage packet
  omi/firmware/omi/src/lib/core/storage.c
Due: none

firmware: add firmware.bin for OTA compatibility
  omiGlass/firmware/v2.3.2/firmware.bin
Due: none

red led blinks when the timestamp doesn't syncup
  omi/firmware/omi/src/main.c
  omi/firmware/omi/src/sd_card.c
Due: none

fix(app): restore mic button original design
  app/lib/widgets/bottom_nav_bar.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): hide bottom nav bar when chat input is focused
  app/lib/pages/chat/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): remove settings button from chat page
  app/lib/pages/chat/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): show cloud sync button only on main home page
  app/lib/pages/home/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(app): add Add Goals button when no goals exist
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): hide Today section when empty and show Add Goals button on home page
  app/lib/pages/conversations/widgets/goals_widget.dart
  app/lib/pages/conversations/widgets/today_tasks_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(app): integrate Add Goals into Daily Score widget and fix spacing
  app/lib/pages/conversations/conversations_page.dart
  app/lib/pages/conversations/widgets/daily_score_widget.dart
  app/lib/pages/conversations/widgets/goals_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): add missing Goal import to daily_score_widget
  app/lib/pages/conversations/widgets/daily_score_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): show question mark icon always in daily score widget
  app/lib/pages/conversations/widgets/daily_score_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): adjust daily score widget styling - remove plus icon, resize question mark
  app/lib/pages/conversations/widgets/daily_score_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): match daily score widget styling to conversation list items
  app/lib/pages/conversations/widgets/daily_score_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): reduce spacing between widgets when today section is hidden
  app/lib/pages/conversations/conversations_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

optimise the RAM resource for SD card and mic
  omi/firmware/omi/src/lib/core/config.h
  omi/firmware/omi/src/lib/core/storage.c
  omi/firmware/omi/src/sd_card.c
Due: none

fix(app): set conversation title max lines to 1 and align section titles with date stamps
  app/lib/pages/conversations/conversations_page.dart
  app/lib/pages/conversations/widgets/conversation_list_item.dart
  app/lib/pages/conversations/widgets/goals_widget.dart
  app/lib/pages/conversations/widgets/today_tasks_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): update section heading sizes, align goals list, add swipe to delete
  app/lib/pages/conversations/conversations_page.dart
  app/lib/pages/conversations/widgets/goals_widget.dart
  app/lib/pages/conversations/widgets/today_tasks_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(app): align goal items with conversation items at 32px from left
  app/lib/pages/conversations/widgets/goals_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**
