Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Auto Deploy iOS to Internal TestFlight:
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    ios_signing:
      provisioning_profiles:
      - codemagic_v4
      - codemagic_watchos_v4
      certificates:
      - codemagic_v4
    groups:
    - app_env
    - firebase
    - shorebird
    vars:
  ...

Auto Deploy Android to Internal Play Store:
  instance_type: mac_mini_m2
  max_build_duration: 120
  environment:
    android_signing:
    - prod_android_upload_keystore
    groups:
    - app_env
    - firebase
    - google_play
    - shorebird
    vars:
      PACKAGE_NAME: com.friend.ios
      JAVA_TOOL_OPTIONS: -Xmx8g
    flutter: 3.35.3
    xcode: 16.4
  ...

Release macOS Desktop Update (DMG):
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    groups:
    - app_env
    - firebase
    - appstore_credentials
    vars:
      PLATFORM: macos
      BUNDLE_ID: com.friend-app-with-wearable.ios12
    flutter: 3.35.3
    xcode: 26.0.1
  ...

Revert "fix(ci): use helm upgrade for backend-listen GKE deploys (#4887)"
  .github/workflows/gcp_backend.yml
  .github/workflows/gcp_backend_auto_dev.yml
Due: none

[web]/fix: stop sidebar layout jump on route change
  web/app/src/components/layout/Sidebar.tsx
Due: none

fix: correct typo in transition-transform class
  web/app/src/components/layout/Sidebar.tsx
Due: none

resolve conflicts
  web/app/src/components/layout/Sidebar.tsx
Due: none

[web]/fix: stop sidebar layout jump on route change (#4892)
  web/app/src/components/layout/Sidebar.tsx
Due: none

[web]/fix: profile menu closes correctly on outside click
  web/app/src/components/layout/Sidebar.tsx
Due: none

chore: trigger TestFlight rebuild
  app/lib/main.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

[web]/fix: profile menu closes correctly on outside click (#4894)
  web/app/src/components/layout/Sidebar.tsx
Due: none

feat: add SERVICE_ACCOUNT_JSON to dev ESO secrets
  backend/charts/backend-secrets/dev_omi_backend_secrets_values.yaml
Due: none

feat: add prod Firebase env vars to dev backend-listen
  backend/charts/backend-listen/dev_omi_backend_listen_values.yaml
Due: none

feat: add prod Firebase env vars to dev pusher
  backend/charts/pusher/dev_omi_pusher_values.yaml
Due: none

feat: pass prod Firebase secrets to Cloud Run and use helm for GKE
  .github/workflows/gcp_backend_auto_dev.yml
Due: none

feat: trigger pusher redeploy on chart value changes
  .github/workflows/gcp_backend_pusher_auto_deploy.yml
Due: none

feat: add TestFlight environment detection method channel
  app/ios/Runner/AppDelegate.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add EnvironmentDetector utility for TestFlight detection
  app/lib/utils/environment_detector.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add API base URL override to Env class
  app/lib/env/env.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: route TestFlight builds to dev backend
  app/lib/main.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: auto-size ScoreWidget gauge to fit dashboard layout
  desktop/Desktop/Sources/MainWindow/Components/DailyScoreWidget.swift
Due: none

feat: add welcome task and notification after onboarding completion
  desktop/Desktop/Sources/OnboardingView.swift
Due: none

fix: use prod ENCRYPTION_SECRET from secret instead of hardcoded dev value
  backend/charts/backend-listen/dev_omi_backend_listen_values.yaml
Due: none

fix: pass ENCRYPTION_SECRET to dev Cloud Run services
  .github/workflows/gcp_backend_auto_dev.yml
Due: none

feat(desktop): streamline file indexing onboarding flow
  desktop/Desktop/Sources/FileIndexing/FileIndexingView.swift
Due: none

feat(desktop): adaptive physics for knowledge graph layout
  desktop/Desktop/Sources/MainWindow/Pages/MemoryGraph/ForceDirectedSimulation.swift
Due: none

feat(desktop): improve 3D knowledge graph visuals
  desktop/Desktop/Sources/MainWindow/Pages/MemoryGraph/MemoryGraphPage.swift
Due: none

chore: mark Flutter desktop app as deprecated
  app/lib/desktop/desktop_app.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

chore: add deprecation comment in app_shell.dart for Flutter desktop
  app/lib/core/app_shell.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

refactor: rewrite proactive notification prompt to match macOS tips quality
  backend/utils/llm/proactive_notification.py
Due: none

fix: lower notification text truncation limit from 300 to 150 chars
  backend/utils/app_integrations.py
Due: none

test: update frequency threshold assertions to match new values
  backend/tests/unit/test_mentor_notifications.py
Due: none

[web]/fix: record-button-horizontal-shift
  web/app/src/components/layout/MainLayout.tsx
  web/app/src/components/recording/HeaderRecordingIndicator.tsx
Due: none

fix: batch Apple Reminders items into single silent push
  backend/utils/notifications.py
Due: none

fix: send single batch push for Apple Reminders in task_sync
  backend/utils/task_sync.py
Due: none

fix: update iOS silent push handler for batch reminders payload
  app/ios/Runner/AppDelegate.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add syncFromFCM method for foreground Apple Reminders sync
  app/ios/Runner/AppleRemindersService.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add batch export handler and foreground sync trigger
  app/lib/services/apple_reminders_service.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: handle apple_reminders_sync FCM messages in foreground
  app/lib/services/notifications/notification_service_fcm.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

refactor: extract shared syncBatchFromJSON in AppleRemindersService
  app/ios/Runner/AppleRemindersService.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

refactor: delegate to AppleRemindersService.syncBatchFromJSON
  app/ios/Runner/AppDelegate.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**
