Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Auto Deploy iOS to Internal TestFlight:
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    ios_signing:
      provisioning_profiles:
      - codemagic_v4
      - codemagic_watchos_v4
      certificates:
      - codemagic_v4
    groups:
    - app_env
    - firebase
    - shorebird
    vars:
  ...

Auto Deploy Android to Internal Play Store:
  instance_type: mac_mini_m2
  max_build_duration: 120
  environment:
    android_signing:
    - prod_android_upload_keystore
    groups:
    - app_env
    - firebase
    - google_play
    - shorebird
    vars:
      PACKAGE_NAME: com.friend.ios
      JAVA_TOOL_OPTIONS: -Xmx8g
    flutter: 3.35.3
    xcode: 16.4
  ...

Release macOS Desktop Update (DMG):
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    groups:
    - app_env
    - firebase
    - appstore_credentials
    vars:
      PLATFORM: macos
      BUNDLE_ID: com.friend-app-with-wearable.ios12
    flutter: 3.35.3
    xcode: 26.0.1
  ...

extract text_similarity to utils/text_utils.py for testability
  backend/test.sh
  backend/tests/unit/test_text_similarity.py
  backend/utils/speaker_identification.py
  backend/utils/stt/pre_recorded.py
  backend/utils/text_utils.py
Due: none

feat: add centralized speaker sample migration utility
  backend/utils/speaker_sample_migration.py
Due: none

docs: add PRD and progress checklist for speech sample transcripts
  PRD.MD
  progress.txt
Due: none

feat: add lazy migration to people API endpoints
  backend/routers/users.py
  progress.txt
Due: none

feat: add JSON parsing for speech sample transcripts in Flutter Person model
  app/lib/backend/schema/person.dart
  progress.txt
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: refactor speaker identification to use centralized verification
  backend/utils/speaker_identification.py
  progress.txt
Due: none

feat: add speech_sample_transcripts and speech_samples_version to Person model
  backend/models/other.py
  progress.txt
Due: none

feat: add database functions for speech sample transcripts
  backend/database/users.py
  progress.txt
Due: none

docs: mark task 1 complete in progress checklist
  progress.txt
Due: none

test: add unit tests for speaker sample verification and migration
  backend/test.sh
  backend/tests/unit/test_speaker_sample.py
  backend/tests/unit/test_speaker_sample_migration.py
  backend/tests/unit/test_users_add_sample_transaction.py
Due: none

fix: prevent migration from deleting samples on transient failures
  backend/database/users.py
  backend/utils/speaker_sample.py
  backend/utils/speaker_sample_migration.py
  backend/utils/stt/pre_recorded.py
Due: none

test: verify backend tests pass (49 tests)
  progress.txt
Due: none

test: verify Flutter tests (pre-existing environment issue)
  progress.txt
Due: none

fix: address PR review - move migration to extraction, add locks, use transaction
  PRD.MD
  backend/database/users.py
  backend/routers/users.py
  backend/utils/speaker_identification.py
  backend/utils/speaker_sample_migration.py
  progress.txt
Due: none

fix: run migration before sample count check in extract_speaker_samples
  backend/utils/speaker_identification.py
Due: none

feat: display speech sample transcripts in People settings UI
  app/lib/pages/settings/people.dart
  progress.txt
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

refactor: split speaker_sample_migration into two modules
  backend/utils/speaker_identification.py
  backend/utils/speaker_sample.py
  backend/utils/speaker_sample_migration.py
Due: none

refactor: move GCS helpers to storage.py, add speech-profile wrappers
  backend/utils/other/storage.py
  backend/utils/speaker_sample.py
Due: none

fix: defer blob deletions and use empty strings for transcript padding
  backend/database/users.py
  backend/utils/speaker_sample_migration.py
Due: none

Use transcript containment for speaker samples
  backend/test.sh
  backend/tests/unit/test_speaker_sample.py
  backend/tests/unit/test_text_containment.py
  backend/utils/speaker_sample.py
  backend/utils/text_utils.py
Due: none

fix thinking message ui
  app/lib/desktop/pages/chat/desktop_chat_page.dart
  app/lib/pages/chat/widgets/ai_message.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

refactor: extract shared helpers in text_utils.py
  backend/utils/text_utils.py
Due: none

remove duplicate
  app/lib/desktop/pages/chat/desktop_chat_page.dart
  app/lib/pages/chat/widgets/ai_message.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

test: add containment coverage for speaker samples
  backend/tests/unit/test_speaker_sample.py
  backend/tests/unit/test_text_containment.py
Due: none

feat: migrate speaker embeddings to /v2/embedding with v3 sample migration
  backend/database/users.py
  backend/models/other.py
  backend/tests/unit/test_speaker_sample_migration.py
  backend/tests/unit/test_users_add_sample_transaction.py
  backend/utils/speaker_identification.py
  backend/utils/speaker_sample_migration.py
  backend/utils/stt/speaker_embedding.py
Due: none

Apply suggestion from @gemini-code-assist[bot]
  app/lib/services/devices/discovery/bluetooth_discoverer.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: painting guide
  docs/doc/hardware/OmiConsumer.mdx
  docs/doc/hardware/PaintingOMI.mdx
  docs/docs.json
  docs/images/painting_final.jpg
Due: none

Revert "Update storage.py"
  backend/utils/other/storage.py
Due: none

msc
  app/lib/services/devices/discovery/bluetooth_discoverer.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add lazy speaker embedding migration in transcribe.py
  backend/routers/transcribe.py
Due: none

misc
  app/lib/services/devices/discovery/bluetooth_discoverer.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

add back comment
  app/lib/services/devices/discovery/bluetooth_discoverer.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update backend/utils/other/storage.py
  backend/utils/other/storage.py
Due: none

fix: use /v2/embedding in extract_embedding_from_bytes and skip stale cache
  backend/routers/transcribe.py
  backend/utils/stt/speaker_embedding.py
Due: none

refactor: extract maybe_migrate_person_samples helper
  backend/routers/transcribe.py
  backend/utils/speaker_identification.py
  backend/utils/speaker_sample_migration.py
Due: none

feat: add device painting guide (#4348)
  docs/doc/hardware/OmiConsumer.mdx
  docs/doc/hardware/PaintingOMI.mdx
  docs/docs.json
  docs/images/painting_final.jpg
Due: none

fix: skip v2→v3 migration on NotFound to avoid stale embedding cache
  backend/utils/speaker_sample_migration.py
Due: none

test: cover v2→v3 NotFound migration path
  backend/tests/unit/test_speaker_sample_migration.py
Due: none

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**
