Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Auto Deploy iOS to Internal TestFlight:
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    ios_signing:
      provisioning_profiles:
      - codemagic_v4
      - codemagic_watchos_v4
      certificates:
      - codemagic_v4
    groups:
    - app_env
    - firebase
    - shorebird
    vars:
  ...

Auto Deploy Android to Internal Play Store:
  instance_type: mac_mini_m2
  max_build_duration: 120
  environment:
    android_signing:
    - prod_android_upload_keystore
    groups:
    - app_env
    - firebase
    - google_play
    - shorebird
    vars:
      PACKAGE_NAME: com.friend.ios
      JAVA_TOOL_OPTIONS: -Xmx8g
    flutter: 3.35.3
    xcode: 16.4
  ...

Release macOS Desktop Update (DMG):
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    groups:
    - app_env
    - firebase
    - appstore_credentials
    vars:
      PLATFORM: macos
      BUNDLE_ID: com.friend-app-with-wearable.ios12
    flutter: 3.35.3
    xcode: 26.0.1
  ...

fix: add backend-created person to local cache for UI display
  app/lib/providers/capture_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

add test uids
  app/lib/models/announcement.dart
  app/lib/models/announcement.g.dart
  backend/database/announcements.py
  backend/models/announcement.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add capability gating for backward-compatible speaker assignment
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: enable speaker editing during live conversation capture
  app/lib/pages/conversation_capturing/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

misc
  app/lib/backend/http/api/announcements.dart
  app/lib/services/announcement_service.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

add announcements mixpanel tracking
  app/lib/pages/announcements/announcement_dialog.dart
  app/lib/pages/settings/settings_drawer.dart
  app/lib/services/announcement_service.dart
  app/lib/utils/analytics/mixpanel.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

check if private cloud sync is enabled or not
  backend/routers/sync.py
Due: none

fix: apply pending speaker assignments before conversation processing
  backend/routers/transcribe.py
Due: none

fix: apply pending speaker assignments before conversation processing (#4561)
  backend/routers/transcribe.py
Due: none

feat add audio playback option on desktop
  app/lib/desktop/pages/conversations/desktop_conversation_detail_page.dart
  app/lib/desktop/pages/conversations/widgets/desktop_audio_player.dart
  app/lib/widgets/conversation_audio_player_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Revert "fix: apply pending speaker assignments before conversation processing (#4561)"
  backend/routers/transcribe.py
Due: none

Revert "fix: move speaker auto-assignment fully to backend (#4555)"
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

revert: speaker auto-assignment PRs #4555 and #4561 (#4563)
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

move name email to right side in desktop settings
  app/lib/desktop/pages/settings/desktop_profile_page.dart
  app/lib/desktop/pages/settings/desktop_settings_modal.dart
  app/lib/ui/atoms/omi_settings_tile.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

fix incorrect type
  app/lib/services/announcement_service.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Revert "revert: speaker auto-assignment PRs #4555 and #4561 (#4563)"
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Revert "revert: speaker auto-assignment PRs #4555 and #4561 (#4563)" (#4566)
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Revert "fix: move speaker auto-assignment fully to backend"
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Revert "fix: apply pending speaker assignments before conversation processing…"
  backend/routers/transcribe.py
Due: none

Revert "fix: apply pending speaker assignments before conversation processing…" (#4568)
  backend/routers/transcribe.py
Due: none

Revert "fix: move speaker auto-assignment fully to backend" (#4567)
  app/lib/pages/conversation_capturing/page.dart
  app/lib/providers/capture_provider.dart
  app/lib/services/sockets/transcription_service.dart
  backend/routers/transcribe.py
  backend/routers/users.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix
  app/lib/ui/atoms/omi_settings_tile.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

perf: remove realtime integrations call from transcribe.py
  backend/routers/transcribe.py
Due: none

fix: add fallback for realtime integrations when pusher disabled
  backend/routers/transcribe.py
Due: none

style: move trigger_realtime_integrations import to module level
  backend/routers/transcribe.py
Due: none

perf: remove realtime integrations call from transcribe.py (#4571)
  backend/routers/transcribe.py
Due: none

avoiding context across async gaps
  app/lib/core/app_shell.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

docs: remove hud and gesture control
  docs/onboarding/omi-glass.mdx
Due: none

fix: remove tick mark dots from goal sliders on homepage
  app/lib/pages/conversations/widgets/goals_widget.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: hide add goal button on tasks page when user has 3 goals
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: replace goals count with add button and simplify FAB on tasks page
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: track Recap Tab Opened event on homepage recap button
  app/lib/pages/home/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Fix speaker auto-assignment: backend-owned with cache refresh
  app/lib/providers/capture_provider.dart
  app/lib/widgets/transcript.dart
  backend/routers/transcribe.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(profiling): add connection stability instrumentation to capture_provider
  app/lib/providers/capture_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(profiling): add disconnect/reconnect logging to device_provider
  app/lib/providers/device_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat(profiling): add A/B disconnect comparison script
  app/lib/providers/capture_provider.dart
  app/lib/providers/device_provider.dart
  app/scripts/profile_disconnect_ab.sh
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Fix review feedback: cache refresh and speaker_id guard
  app/lib/providers/capture_provider.dart
  backend/routers/transcribe.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Add unit tests for speaker assignment logic
  app/test.sh
  app/test/providers/capture_provider_test.dart
  app/test/widgets/transcript_test.dart
  backend/test.sh
  backend/tests/unit/test_speaker_assignment.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Improve test coverage with mocks and boundary tests
  app/test/providers/capture_provider_test.dart
  backend/tests/unit/test_speaker_assignment.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**
