Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**

perf: parallelize markExported API calls with Future.wait
  app/lib/services/apple_reminders_service.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

polish speech profile sharing UI and fix bugs
  app/lib/l10n/app_en.arb
  app/lib/pages/settings/profile.dart
  app/lib/pages/settings/speech_profile_sharing_page.dart
  backend/routers/transcribe.py
  backend/tests/unit/test_speech_profile_sharing.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Eliminates magic number and all panels use the same width
  web/app/src/components/chat/ChatPanel.tsx
  web/app/src/components/notifications/NotificationCenter.tsx
  web/app/src/components/recording/HeaderRecordingIndicator.tsx
  web/app/src/lib/layout.ts
Due: none

feat: add 2h TTL caching to manifest fetch
  backend/utils/apps.py
Due: none

feat: add refresh-manifest API endpoint
  backend/routers/apps.py
Due: none

feat: add refreshAppManifestServer API call
  app/lib/backend/http/api/apps.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add refreshManifest method to AddAppProvider
  app/lib/pages/apps/providers/add_app_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

feat: add refresh manifest button in manage app screen
  app/lib/pages/apps/update_app.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: update dev backend-listen helm values for prod Redis port and STT models
  backend/charts/backend-listen/dev_omi_backend_listen_values.yaml
Due: none

fix: update dev pusher helm values for prod Redis port and image tag
  backend/charts/pusher/dev_omi_pusher_values.yaml
Due: none

chore: deprecate standalone mentor notification app
  plugins/notifications/mentor (deprecated)/README.md
  plugins/notifications/mentor (deprecated)/main.py
Due: none

perf: batch commit EKEventStore saves instead of committing per reminder
  app/ios/Runner/AppleRemindersService.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix: add backwards-compatible top-level keys for old app versions
  backend/utils/notifications.py
Due: none

feat(backend): add Redis cache helpers for user timezone
  backend/database/redis_db.py
Due: none

feat(backend): cache user timezone on token save and add cached lookup
  backend/database/notifications.py
Due: none

feat(backend): send user timezone in realtime transcript webhook payload
  backend/utils/webhooks.py
Due: none

feat(backend): send user timezone in realtime integration webhook payload
  backend/utils/app_integrations.py
Due: none

feat(backend): add optional sound parameter to notification pipeline
  backend/utils/notifications.py
Due: none

feat(backend): pass sound parameter through send_app_notification
  backend/utils/app_integrations.py
Due: none

feat(backend): add sound query param to integration notification endpoint
  backend/routers/integration.py
Due: none

Optimize HPA for pusher on dev
  backend/charts/pusher/dev_omi_pusher_values.yaml
Due: none

polish speech profile sharing UI and add receiver side remove
  app/lib/backend/http/api/speech_profile.dart
  app/lib/l10n/app_en.arb
  app/lib/pages/settings/profile.dart
  app/lib/pages/settings/speech_profile_sharing_page.dart
  backend/database/users.py
  backend/routers/speech_profile.py
  backend/tests/integration/test_speech_profile_sharing_e2e.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Making sure the updateChannel isn't nil
  app/macos/Runner/AppDelegate.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

fix(stt): replace Omi with Nooto in predefined vocabulary
  backend/routers/transcribe.py
Due: none

fix(ios): rebrand Omi to Nooto in permission descriptions
  app/ios/Runner/Info.plist
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

fix(macos): rebrand Omi to Nooto in permission descriptions
  app/macos/Runner/Info.plist
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

fix(notifications): use dynamic app name in reminder fallback
  app/lib/services/notifications/action_item_notification_handler.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

perf(backend): optimize Docker build with uv and CPU-only torch
  backend/Dockerfile
Due: none

perf(backend/pusher): optimize Docker build with uv and CPU-only torch
  backend/pusher/Dockerfile
Due: none

chore: remove all GitHub Actions workflows
  .github/workflows/deploy_docs.yml
  .github/workflows/entellegence_issues.yml
  .github/workflows/entelligence-pr-reviewer.yml
  .github/workflows/gcp_app.yml
  .github/workflows/gcp_apps_js.yml
  .github/workflows/gcp_backend.yml
  .github/workflows/gcp_backend_auto_dev.yml
  .github/workflows/gcp_backend_pusher.yml
  .github/workflows/gcp_backend_pusher_auto_deploy.yml
  .github/workflows/gcp_diarizer.yml
  .github/workflows/gcp_frontend.yml
  .github/workflows/gcp_models.yml
  .github/workflows/gcp_notifications_job.yml
  .github/workflows/gcp_personas.yml
  .github/workflows/gcp_plugins.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/pr-declined-comment.yml
  .github/workflows/sync-docs.yml
Due: none

Use hardened image for backend services
  .github/workflows/gcp_backend.yml
  backend/Dockerfile
  backend/diarizer/Dockerfile
  backend/modal/Dockerfile
  backend/pusher/Dockerfile
  plugins/Dockerfile
Due: none

fix display names, extract share dialog, polish sharing UX, Firestore user lookups
  app/lib/l10n/app_en.arb
  app/lib/pages/settings/profile.dart
  app/lib/pages/settings/speech_profile_sharing_page.dart
  app/lib/widgets/share_speech_profile_dialog.dart
  backend/database/users.py
  backend/routers/speech_profile.py
  backend/routers/transcribe.py
  backend/tests/unit/test_speech_profile_sharing.py
  backend/utils/conversations/process_conversation.py
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update page.dart
  app/lib/pages/home/page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update action_items_provider.dart
  app/lib/providers/action_items_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update action_items_page.dart
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store
