Repository BasedHardware/Omi: changes, and which Codemagic workflows are due for each by the changed paths.
All: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Auto Deploy iOS to Internal TestFlight:
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    ios_signing:
      provisioning_profiles:
      - codemagic_v4
      - codemagic_watchos_v4
      certificates:
      - codemagic_v4
    groups:
    - app_env
    - firebase
    - shorebird
    vars:
  ...

Auto Deploy Android to Internal Play Store:
  instance_type: mac_mini_m2
  max_build_duration: 120
  environment:
    android_signing:
    - prod_android_upload_keystore
    groups:
    - app_env
    - firebase
    - google_play
    - shorebird
    vars:
      PACKAGE_NAME: com.friend.ios
      JAVA_TOOL_OPTIONS: -Xmx8g
    flutter: 3.35.3
    xcode: 16.4
  ...

Release macOS Desktop Update (DMG):
  instance_type: mac_mini_m2
  max_build_duration: 120
  integrations:
    app_store_connect: codemagic_v4
  environment:
    groups:
    - app_env
    - firebase
    - appstore_credentials
    vars:
      PLATFORM: macos
      BUNDLE_ID: com.friend-app-with-wearable.ios12
    flutter: 3.35.3
    xcode: 26.0.1
  ...

Update progress tracker - FILE 96 completed
  progress.txt
Due: none

Optimize segment combining regex and test configuration
  backend/models/transcript_segment.py
  backend/pyproject.toml
  backend/tests/unit/test_transcript_segment.py
Due: none

Localize referral_page.dart - no new keys needed, used existing referralProgram key
  app/lib/pages/referral/referral_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update progress tracker - FILE 97 completed
  progress.txt
Due: none

Localize delete_account.dart - no new keys needed, used existing deleteAccount key
  app/lib/pages/settings/delete_account.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update progress tracker - FILE 98 completed
  progress.txt
Due: none

Update progress tracker - FILE 99 completed
  progress.txt
Due: none

fix: revert task sorting changes that broke task display
  app/lib/backend/preferences.dart
  app/lib/desktop/pages/actions/desktop_actions_page.dart
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

feat: improve task sorting with drag-drop and persistence
  app/lib/backend/preferences.dart
  app/lib/desktop/pages/actions/desktop_actions_page.dart
  app/lib/desktop/pages/desktop_home_page.dart
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

feat: improve task sorting with drag-drop and persistence (#4250)
  app/lib/backend/preferences.dart
  app/lib/desktop/pages/actions/desktop_actions_page.dart
  app/lib/desktop/pages/desktop_home_page.dart
  app/lib/pages/action_items/action_items_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

improve wifi network plugin for ios to use a conn loop
  app/ios/Runner/Runner.entitlements
  app/ios/Runner/RunnerDebug-dev.entitlements
  app/ios/Runner/RunnerDebug-prod.entitlements
  app/ios/Runner/RunnerProfile-dev.entitlements
  app/ios/Runner/RunnerProfile-prod.entitlements
  app/ios/Runner/RunnerRelease-dev.entitlements
  app/ios/Runner/RunnerRelease-prod.entitlements
  app/ios/Runner/WifiNetworkPlugin.swift
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

improved wifi sync ux
  app/lib/backend/preferences.dart
  app/lib/models/sync_state.dart
  app/lib/pages/conversations/fast_transfer_settings_page.dart
  app/lib/pages/conversations/sync_page.dart
  app/lib/pages/conversations/sync_widgets/fast_transfer_suggestion_dialog.dart
  app/lib/pages/conversations/sync_widgets/location_permission_dialog.dart
  app/lib/pages/conversations/wal_item_detail/wal_item_detail_page.dart
  app/lib/providers/sync_provider.dart
  app/lib/services/wals/flash_page_wal_sync.dart
  app/lib/services/wals/local_wal_sync.dart
  app/lib/services/wals/sdcard_wal_sync.dart
  app/lib/services/wals/wal.dart
  app/lib/services/wals/wal_interfaces.dart
  app/lib/services/wals/wal_syncs.dart
  app/lib/services/wifi/wifi_network_service.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

wifi connection sheet
  app/lib/pages/conversations/sync_widgets/wifi_connection_sheet.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Implement embedding endpoint v2
  backend/diarizer/embedding.py
  backend/diarizer/main.py
Due: none

remove overview from summary
  app/lib/desktop/pages/conversations/widgets/desktop_conversation_summary.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

fix prevent state update after disposal
  app/lib/pages/conversation_detail/conversation_detail_provider.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

remove conversation details
  app/lib/desktop/pages/conversations/desktop_conversation_detail_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

improve drag and drop for tasks
  app/lib/desktop/pages/actions/desktop_actions_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Update progress tracker - FILE 100 completed
  progress.txt
Due: none

Update embedding endpoint v2 in diarizer values file for dev
  backend/charts/diarizer/dev_omi_diarizer_values.yaml
Due: none

Update progress tracker - FILE 101 completed
  progress.txt
Due: none

fix
  app/lib/desktop/pages/actions/desktop_actions_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store, Release macOS Desktop Update (DMG)

Update embedding endpoint v2 in diarizer values file for prod
  backend/charts/diarizer/prod_omi_diarizer_values.yaml
Due: none

Update progress tracker - FILE 102 completed
  progress.txt
Due: none

Improve security and performance for embedding
  backend/diarizer/embedding.py
  backend/diarizer/main.py
Due: none

Handle backward sentence merge across speakers
  backend/models/transcript_segment.py
  backend/tests/unit/test_transcript_segment.py
Due: none

Drop existing tail when forward-merged
  backend/models/transcript_segment.py
  backend/tests/unit/test_transcript_segment.py
Due: none

Update progress tracker - FILE 103 completed
  progress.txt
Due: none

Localize conversation_timeout_dialog.dart using existing l10n keys
  app/lib/pages/settings/conversation_timeout_dialog.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update progress tracker - FILE 104 completed
  progress.txt
Due: none

Implement embedding endpoint v2 (#4255)
  backend/charts/diarizer/dev_omi_diarizer_values.yaml
  backend/charts/diarizer/prod_omi_diarizer_values.yaml
  backend/diarizer/embedding.py
  backend/diarizer/main.py
Due: none

Localize integration_settings_page.dart using existing l10n keys
  app/lib/pages/settings/integration_settings_page.dart
Due: Auto Deploy iOS to Internal TestFlight, Auto Deploy Android to Internal Play Store

Update progress tracker - FILE 105 completed
  progress.txt
Due: none

Path conditions:
  Auto Deploy iOS to Internal TestFlight: any of: app/**
  Auto Deploy Android to Internal Play Store: any of: app/**
  Release macOS Desktop Update (DMG): any of: app/lib/desktop/**, app/macos/**
